*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    min-height: 100%;
}



.col {
    border-bottom: 1px solid black;
}

.col h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 42px;
    width: 100%;
}

form {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 10px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button-cadastro {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(17, 246, 17);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}

.col a {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: black;
}



.footer {
    bottom: 0px;
    margin-top: 100%;
    width:100%;
    background-color: rgb(241, 233, 233);
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footer p {
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;   
}

@media (max-width: 920px) {
    form {
        width: 500px;
    }
}

@media (max-width: 550px) {
    form {
        width: 300px;
    }
}