*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
}

.col {
    border-bottom: 1px solid black;
}

.col h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 42px;
    width: 100%;
}


.col a {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.cards {
    min-height: 100%;
    position: relative;
    display: flex;
}

.container-cards {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.card {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.card_image-container img {
    width: 100%;
    height: 140px;
}

.card_product h2 {
    text-align: center;
    width: 100%;
    height: 21px;
    color: #111111;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.card_author h3 {
    text-align: center;
    width: 100%;
    height: 20px;
    color: #777777;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}

.footer {
    bottom: 0px;
    margin-top: 100%;
    width:100%;
    background-color: rgb(241, 233, 233);
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footer p {
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;   
}

@media (max-width: 980px) {
    .container-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .card {
        width: 400px;
    }
}

@media (max-width: 830px){
    .container-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {
        width: 300px;
    }
}

@media (max-width: 620px) {
    .container-cards{
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        width: 350px;
    }

}